* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
    background-size: cover;
    background-position: center;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    color: #69e8f1;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 3px;
}
span {
    color: rgb(9, 171, 241);
}
form {
    width: 300px;
    height: 40px;
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    padding: 1px 1px;
    font-size: 15px;
    border-radius: 10px;
    backdrop-filter: blur(4px) saturate(180%);
}
form input {
    background: transparent;
    border: 0;
    padding: 12px 20px;
    font-size: 15px;
    color: white;
} 
::placeholder {
    color: white;
}
form button {
    border: 0;
    outline: none;
    padding: 5px 20px;
    color: white;
    border-radius: 10px;
    background: #00d5ff;
    cursor: pointer;
}
.navbar li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar li:hover {
    border: 1px;
    padding: 10px;
    color: white;
    background-color: #00d5ff;
    transition: 0.5s; 
    cursor: pointer;
    border-radius: 30px;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text h2 {
    color: white;
    font-weight: 800;
    font-size: 50px;
    letter-spacing: 3px;
}
.text p {
    color: white;
    text-transform: capitalize; 
    font-size: 30px;
    margin-bottom: 30px;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-family: serif;
}
.login {
    margin: 0px 10px;
    border: 2px solid #00d5ff;
    padding: 13px 35px;
    letter-spacing: 1px;
    color: white;
    border-radius: 30px;
    background-color: #f50404;
    text-decoration: none;
}
.login:hover {
    border: 2px solid #00d5ff;
    color:  #00d5ff;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
} 
.signup {
    margin: 0px 10px;
    border: 2px solid #00d5ff;
    padding: 13px 35px;
    letter-spacing: 1px;
    color: white;
    border-radius: 30px;
    background-color: #0d6705;
    text-decoration: none;
}
.signup:hover {
    border: 2px solid #17037a;
    color: #00d5ff;
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
}
footer {
    background-color: #8dc0ea;
    margin-top: auto;
    font-size: 30px;
}