* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img2.jpg);
    background-size: cover;
    background-position: center;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bg-product {
    border: 1px;
    padding: 10px;
    color: white;
    background-color:  #00d5ff;
    border-radius: 30px;
}
.logo {
    color:  #69e8f1;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 3px;
}
span {
    color: rgb(9, 171, 241);
}
form {
    width: 300px;
    height: 40px;
    display: flex;
    background: rgba(255,255, 255, 0.1);
    padding: 1px 1px;
    font-size: 15px;
    border-radius: 10px;
    backdrop-filter: blur(4px) saturate(180%);
}
form input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 12px 20px;
    font-size: 15px;
    color: white;
} 
::placeholder {
    color: white;
}
form button {
    border: 0;
    outline: none;
    padding: 5px 20px;
    color: white;
    border-radius: 10px;
    background:  #00d5ff;
    cursor: pointer;
}
.navbar li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar li:hover {
    border: 1px;
    padding: 10px;
    color: white;
    background-color:  #00d5ff;
    transition: 0.5s; 
    cursor: pointer;
    border-radius: 30px;
}
.container {
    background: transparent;
    padding: 300px 5%;
    padding-bottom: 100px;
    padding-top: 200px;
}
.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 100px;
}
.container .box-container .box {
    color: rgb(102, 204, 248);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 20px;
    background: transparent;
    border: 1px solid white;
    padding: 30px 20px;
    
}
.container .box-container .box img {
    height: 80px;
    border-radius: 20px;
}
.container .box-container .box h3 {
    color:  #00d5ff;
    font-size: large;
    padding: 20px 0;
}
.container .box-container .box p {
    color: white;
    font-size:larger;
    line-height: 1;
}
footer {
    background-color: #8dc0ea;
    margin-top:auto ;
    font-size: 30px;
}